.abc{
	font: cursive;
    /* position: relative; */
    padding :50px 50px;
}
.abcd{
	font: cursive;
    /* position: relative; */
    padding :50px 50px;
}
.header:before{
	background:transparent;
}
.header{
	padding: 20px;
	padding-bottom: 160px;
	width:100%;
	height:auto;
	background-image: linear-gradient(to right,rgba(100,158,255,0.5),rgba(255,128,255,0.3));
	/* background-color:red; */
	background-repeat: no-repeat;
	background-size: 100% 100%;
	clip-path: polygon(100% 0% , 100% 100% ,0% 100% , 0 0);
	position: relative;
}
/* .butn{
	/* width: 100%; */
/* } */ */
h1{
	text-align: center;
	/* font-family: 'Satisfy', cursive; */
}
.extradiv{
	/* background:linear-gradient(to right,rgba(100,158,255,0.5),rgba(255,128,255,0.3));; */
	border:medium none;
	padding: 50px !important;
    border-radius: 3px;
    margin-top: 50px;
	transition: 0.3s;
}

.extradiv:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
	transform: translateY(-20px);
}
table {
    font-family: arial, sans-serif;
	border-collapse: collapse;
	margin-bottom: 50px;
    width: 100%;
    border-color:rgba(255,58,255); text-align: center;
}
th{
    /* font-family: 'Satisfy', cursive; */
    font-size: 25px;
    text-align: center;
}
td, th {
    border: 1px solid rgba(255,58,255);
    padding: 8px;
}

tr {
    background-color: #F8F8F8;
}
.welcome{
    margin-top: 50px;
    text-align: center;
    /* font-family: 'Satisfy', cursive; */
}
.border{
	display: block;
	margin:auto;
	width:160px;
	height :3px;
	background: rgba(255,58,255);
    margin-bottom: 40px;
    margin-top: 30px;
}
.ncontainer{
	width:30%;
	margin:auto;
}